<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Sale" packages="">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
    		<PatternLayout>
    	    </PatternLayout>
		</Console>
		<RollingFile name="RollingFileAppender" fileName="logs/log.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout>
            <Pattern>%m%n</Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="50 MB" />
        </Policies>
        <DefaultRolloverStrategy max="20" />
        <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
    </RollingFile>
	</Appenders>
	<Loggers>
	<Root level="all">
    </Root>
	</Loggers>
</Configuration>